# Vérifiez votre rendu
## Rendu

**Rendu global**
- Fichier auteur present?

**Par projets**
- Nom des fichiers a rendre sont correctes?
- Comparer avec les examples + des tests.
